.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-ramp-legend {
  display: inline-block;
  padding: 3px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.color-ramp-legend svg {
  display: block;
  margin-bottom: 5px;
}

.color-ramp-legend span {
  font-size: 0.8em;
}

.legend-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the toggle button as needed */

/* VERTICAL boxes-type of legend */
/* .legend-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap; 
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.legend-color-box {
  height: 10px; 
  width: 20px; 
  margin-right: 5px;
}

.legend-label {
  font-size: 0.8em;
} */

/* HORIZONTAL boxes-type of legend */
/* .legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.legend-color-box {
  height: 10px;
  width: 20px;
}

.legend-label {
  margin-left: 5px;
  font-size: 0.8em;
} */
